@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    min-height: calc(100% + env(safe-area-inset-top));
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    @apply overflow-y-scroll bg-purple-50;
}

a {
    @apply text-purple-500;
    &:hover {
        @apply text-purple-600;
    }
}

/* Format code blocks */
pre {
    @apply bg-gray-800 text-white text-xs overflow-x-scroll max-w-screen-lg;
}